!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ZeroRails
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = render '/layouts/nav'
    .container-fluid
      %p= render '/layouts/alerts'
      = yield
    = javascript_pack_tag 'app'
    = javascript_pack_tag 'hello_react'
